body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
}

h1 {
    margin-top: 20px;
}

.chessboard {
    width: 480px;
    height: 480px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 5px solid #333;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.white {
    background-color: #fef2e0;
}

.black {
    background-color: #0e0905;
}
